#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tema-claro{
  background-color: #ffffff;
  color: #000000;
  padding: 2rem;
  min-height: 100vh;
}

.tema-escuro{
  background-color: #121212;
  color: #ffffff;
  padding: 2rem;
  min-height: 100vh;
}